body {
  background-color: #1b1c20;
  color: #f8d473;
}
#hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 5rem;
}

#title-container {
  max-width: 80vw;
}

#title-container > svg {
  max-width: 100%;
}

#decoration {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#decoration > svg {
  height: 100%;
  width: 100%;
}

.section-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  margin-bottom: 1rem;
}

.section-heading {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  margin-bottom: 3.5rem;
  border-bottom: 1px solid;
}

#about-container {
  width: 80%;
  background-color: #454757;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
}

#about-avatar {
  height: 15rem;
}

#about-description-container {
  margin-left: 1rem;
}

#description-heading,
#description-heading-under {
  color: #fe9270;
  font-weight: 600;
  font-size: 2.8rem;
  margin-bottom: 0;
  letter-spacing: 0.1rem;
}

#description-heading {
  margin-right: 0.2rem;
}

#description-heading-under {
  font-size: 2.5rem;
  font-weight: 400;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  #decoration {
    display: none;
  }

  #hero,
  #decoration {
    height: auto;
  }

  #about-container {
      flex-wrap: wrap;
      width: 100%;
  }

  #about-description-container {
      text-align: center;
      margin: 0;
  }
}
.logo{
    border-radius: 50%;
}
.riwayatpendidikan{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.riwayatpendidikan > .table-responsive {
    width: auto;
    flex-grow: 1;
    margin-left: 1rem;
}